<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="smaad.onmicrosoft.com" />
    <add key="ida:ClientId" value="86e6533d-23e2-4c3a-9967-fc49fc5ca84b" />
    <add key="ida:RedirectUri" value="http://TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://smaad.onmicrosoft.com/TodoListService-ManualJwt" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44324" />
  </appSettings>
</configuration>